 .container {
  position: relative;
  width: 100%;
  height: 100vh;

}

h2 {
  position: absolute;
  top: 10%;
  left: 50%;

  transform: translateX(-50%);
  font-size: 18 px;
  font-family: "Inter";
  font-weight: bold;
  z-index:1;
}

.username {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translateX(-50%);
  font-size: 18 px;
  font-family: "Inter";
  font-weight: bold;
  z-index:1;
}

.input {
  position: absolute;
  top: 38%;
  left: 50%;
  transform: translateX(-50%);
  color: aliceblue;
  z-index:1;
}

.passwordHeading {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%);
  font-size: 18 px;
  font-family: "Inter";
  font-weight: bold;
  z-index:1;
}

.input2 {
  position: absolute;
  top: 58%;
  left: 50%;
  transform: translateX(-50%);
  z-index:1;
}
.loginCard{
  position: absolute;
  top: 55%;
  left: 50%;
  z-index:1;
  
  transform: translate(-50%, -50%); /* centers perfectly */
 

}

.confirm{
  position: absolute;
    background-color: #ab90fc;
    border-radius: 20px;
    height: 5%;
    top: 75%;
    left: 55%;
    z-index: 1;
    width: 7%;
    font-family: "Inter";
    font-weight: bold;
}