.screen {
  position: relative;
  width: 100vw;
  height: 100vh;
}
body {
  margin: 0;
  padding: 0;
}
.background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 0;

  /* // makes it responsive */
  object-fit: cover;
  object-position: center;
}

.card1 {
  position: absolute;
  width: 25%;
  height: 35%;
  top: 10%;
  /* distance from top of parent */
  left: 20%;
  border-radius: 25px;
  /* distance from left of parent */

  background-color: #E6DEFF;

  z-index: 1;
 
}

.card2 {
  position: absolute;
  width: 25%;
  height: 35%;
  top: 10%;
  right: 20%;

  background-color: #E6DEFF;
  border-radius: 25px;
  z-index: 1;
}

.card3 {
  position: absolute;
  width: 35%;
  height: 30%;

  top: 50%;
  left: 33%;
  /* distance from left of parent */

  background-color: #E6DEFF;
  border-radius: 25px;
  z-index: 1;
}

.headingC1 {

  position: absolute;
  top: 10%;
  /* distance from top of parent */
  left: 26%;
  text-align: center;
  z-index: 1;
  font-size: 18 px;
  font-family: "Inter";
  font-weight: bold;


}

.button1 {

  position: absolute;
  background-color: #ab90fc;
  border-radius: 20px;
  height: 5%;
  top: 20%;
  /* distance from top of parent */
  left: 23%;
  z-index: 1;
  width: 7%;
  font-family: "Inter";
  font-weight: bold;

}

.button2 {

  position: absolute;
  background-color: #ab90fc;
  border-radius: 20px;
  height: 5%;
  top: 20%;
  left: 35%;
  z-index: 1;
  width: 7%;
  font-family: "Inter";
  font-weight: bold;

}

.button3 {
  position: absolute;
  background-color: #ab90fc;
  border-radius: 20px;
  height: 5%;
  top: 30%;
  /* distance from top of parent */
  left: 23%;
  z-index: 1;
  width: 7%;
  font-family: "Inter";
  font-weight: bold;
}

.button4 {
  position: absolute;
  background-color: #ab90fc;
  border-radius: 20px;
  height: 5%;
  top: 30%;
  left: 35%;
  z-index: 1;
  width: 7%;
  font-family: "Inter";
  font-weight: bold;

}

.button5 {

  position: absolute;
  background-color: #ab90fc;
  border-radius: 20px;
  height: 5%;
  top: 25%;
  left: 58%;
  z-index: 1;
  width: 7%;
  font-family: "Inter";
  font-weight: bold;
}

.button6 {

  position: absolute;
  background-color: #ab90fc;
  border-radius: 20px;
  height: 5%;
  top: 25%;
  left: 70%;
  z-index: 1;
  width: 7%;
  font-family: "Inter";
  font-weight: bold;
}


.headingC2 {
  position: absolute;
  top: 12%;
  /* distance from top of parent */
  left: 63%;
  text-align: center;
  z-index: 1;
  font-size: 18 px;
  font-family: "Inter";
  font-weight: bold;
}


.rating{
    position: absolute;
  top: 67%;
  left: 52%;

  transform: translateX(-50%);
  font-size: 18 px;
  font-family: "Inter";
  font-weight: bold;
  z-index:1;
}
.sleepQuality{
    position: absolute;
  top: 55%;
  left: 51.5%;

  transform: translateX(-50%);
  font-size: 20 px;
  font-family: "Inter";
  font-weight: bold;
  z-index:1;
}

h1{
  position: absolute;
  
  transform: translateX(-50%);
  left: 50%;
  
  margin:0;
  padding: 0;
  top:3%;
  
}
.micButton1{
   position: absolute;
  background-color: #ab90fc;
  border-radius: 20px;

  top: 37%;
  /* distance from top of parent */
  left: 35%;
  z-index: 1;

  font-family: "Inter";
  font-weight: bold;
}


.micButton2{
   position: absolute;
  background-color: black;
  border-radius: 20px;

  top: 37%;
  /* distance from top of parent */
  left: 70%;
  z-index: 1;

  font-family: "Inter";
  font-weight: bold;
}

.micButton3{
   position: absolute;
  background-color: black;
  border-radius: 20px;

  top: 75%;
  /* distance from top of parent */
  left: 55%;
  z-index: 1;

  font-family: "Inter";
  font-weight: bold;
}